# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [141]:
import numpy as np
import pandas as pd

# Challenge 1 - Iterators, Generators and `yield`. 

In iterator in Python is an object that represents a stream of data. However, iterators contain a countable number of values. We traverse through the iterator and return one value at a time. All iterators support a `next` function that allows us to traverse through the iterator. We can create an iterator using the `iter` function that comes with the base package of Python. Below is an example of an iterator.

In [142]:
# We first define our iterator:

iterator = iter([1,2,3])

# We can now iterate through the object using the next function

print(next(iterator))

1

In [143]:
# We continue to iterate through the iterator.

print(next(iterator))

2

In [144]:
print(next(iterator))

3

In [145]:
# After we have iterated through all elements, we will get a StopIteration Error

print(next(iterator))

StopIteration:

In [146]:
# We can also iterate through an iterator using a for loop like this:
# Note: we cannot go back directly in an iterator once we have traversed through the elements. 
# This is why we are redefining the iterator below

iterator = iter([1,2,3])

for i in iterator:
    print(i)

1
2
3

In the cell below, write a function that takes an iterator and returns the first element in the iterator that is divisible by 2. Assume that all iterators contain only numeric data. If we have not found a single element that is divisible by 2, return zero.

In [147]:
def divisible2(iterator):
    # This function takes an iterable and returns the first element that is divisible by 2 and zero otherwise
    # Input: Iterable
    # Output: Integer
    
    # Sample Input: iter([1,2,3])
    # Sample Output: 2
    x=next(iterator, None)
    if x==None: 
        return 0
    elif not x%2:
        return x
    else:
        return divisible2(iter([x for x in iterator]))
    
    
    #return x if not x%2 else divisible2(iter([x for x in iterator]))

In [148]:
divisible2(iter([1,7,3,6,1]))

6

### Generators

It is quite difficult to create your own iterator since you would have to implement a `next` function. Generators are functions that enable us to create iterators. The difference between a function and a generator is that instead of using `return`, we use `yield`. For example, below we have a function that returns an iterator containing the numbers 0 through n:

In [149]:
def firstn(n):
    number = 0
    while number < n:
        yield number
        number = number + 1

If we pass 5 to the function, we will see that we have a iterator containing the numbers 0 through 4.

In [150]:
iterator = firstn(5)

for i in iterator:
    print(i)

0
1
2
3
4

In the cell below, create a generator that takes a number and returns an iterator containing all even numbers between 0 and the number you passed to the generator.

In [151]:
def even_iterator(n):
    # This function produces an iterator containing all even numbers between 0 and n
    # Input: integer
    # Output: iterator
    
    # Sample Input: 5
    # Sample Output: iter([0, 2, 4])
    
    number=0
    while number<=n:
        if not number%2:
            yield number
        number+=1

In [152]:
iterator = even_iterator(31)
for i in iterator:
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30

# Challenge 2 - Applying Functions to DataFrames

In this challenge, we will look at how to transform cells or entire columns at once.

First, let's load a dataset. We will download the famous Iris classification dataset in the cell below.

In [190]:
import requests
from io import StringIO

In [196]:
columns = ['sepal_length', 'sepal_width', 'petal_length','petal_width','iris_type']
url="https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"
data=StringIO(requests.get(url, verify= False).text)
iris = pd.read_csv(data, names=columns)

C:\Users\Usuario_Asignado\Anaconda3\lib\site-packages\urllib3\connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

Let's look at the dataset using the `head` function.

In [192]:
print(iris.head())

   sepal_length  sepal_width  petal_length  petal_width    iris_type
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

Let's start off by using built-in functions. Try to apply the numpy mean function and describe what happens in the comments of the code.

In [174]:
print(np.mean(iris))
# It gets the mean of each column in the dataset

sepal_length    5.843333
sepal_width     3.054000
petal_length    3.758667
petal_width     1.198667
dtype: float64

Next, we'll apply the standard deviation function in numpy (`np.std`). Describe what happened in the comments.

In [175]:
print(np.std(iris))
# It gets the standard deviation of each column in the dataset

sepal_length    0.825301
sepal_width     0.432147
petal_length    1.758529
petal_width     0.760613
dtype: float64

The measurements are in centimeters. Let's convert them all to inches. First, we will create a dataframe that contains only the numeric columns. Assign this new dataframe to `iris_numeric`.

In [176]:
iris_numeric=iris.select_dtypes(include=np.number)

In [177]:
print(iris_numeric.head())

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

Next, we will write a function that converts centimeters to inches in the cell below. Recall that 1cm = 0.393701in.

In [178]:
def cm_to_in(x):
    # This function takes in a numeric value in centimeters and converts it to inches
    
    return x*0.39370

Now convert all columns in `iris_numeric` to inches in the cell below. We like to think of functional transformations as immutable. Therefore, save the transformed data in a dataframe called `iris_inch`.

In [179]:
iris_inch=cm_to_in(iris_numeric)

In [180]:
print(iris_inch.head())

   sepal_length  sepal_width  petal_length  petal_width
0       2.00787      1.37795       0.55118      0.07874
1       1.92913      1.18110       0.55118      0.07874
2       1.85039      1.25984       0.51181      0.07874
3       1.81102      1.22047       0.59055      0.07874
4       1.96850      1.41732       0.55118      0.07874

We have just found that the original measurements were off by a constant. Define the global constant `error` and set it to 2. Write a function that uses the global constant and adds it to each cell in the dataframe. Apply this function to `iris_numeric` and save the result in `iris_constant`.

In [181]:
error=2

def add_constant(x):
    # This function adds a global constant to our input.
    # Input: numeric value
    # Output: numeric value
    
    # Your code here:
    return x+error

In [182]:
iris_constant=add_constant(iris_numeric)

In [183]:
print(iris_numeric.head())

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

# Bonus Challenge - Applying Functions to Columns

Read more about applying functions to either rows or columns [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.apply.html) and write a function that computes the maximum value for each row of `iris_numeric`

In [184]:
print(iris_numeric.apply(lambda x: max(x),axis=1).head(10))

0    5.1
1    4.9
2    4.7
3    4.6
4    5.0
5    5.4
6    4.6
7    5.0
8    4.4
9    4.9
dtype: float64

Compute the combined lengths for each row and the combined widths for each row using a function. Assign these values to new columns `total_length` and `total_width`.

In [185]:
# Easier way was iris_numeric['total_length']=iris_numeric['sepal_length']+iris_numeric['petal_length']
iris_numeric['total_length']=iris_numeric[['sepal_length','petal_length']].apply(lambda x: sum(x),axis=1)

In [186]:
iris_numeric['total_width']=iris_numeric[['sepal_width','petal_width']].apply(lambda x: sum(x),axis=1)

In [187]:
iris_numeric.head()

,sepal_length,sepal_width,petal_length,petal_width,total_length,total_width
0,5.1,3.5,1.4,0.2,6.5,3.7
1,4.9,3.0,1.4,0.2,6.3,3.2
2,4.7,3.2,1.3,0.2,6.0,3.4
3,4.6,3.1,1.5,0.2,6.1,3.3
4,5.0,3.6,1.4,0.2,6.4,3.8